BasedOnStyle: WebKit
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  BeforeElse: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
ContinuationIndentWidth: 0
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 2