Checks: '*,-readability-else-after-return,-readability-misleading-indentation,-google-readability-casting,-clang-analyzer-alpha.*,-clang-diagnostic-unknown-pragmas,-clang-diagnostic-unused-command-line-argument,-llvm-include-order,-hicpp-no-assembler,-hicpp-signed-bitwise,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-hicpp-uppercase-literal-suffix,-readability-uppercase-literal-suffix,-readability-isolate-declaration'
