version: 0.1.{build}

environment:
  matrix:
    - CTEST_CMAKE_GENERATOR: Visual Studio 14 2015
    - CTEST_CMAKE_GENERATOR: Visual Studio 14 2015 Win64
    - CTEST_CMAKE_GENERATOR: Visual Studio 14 2015 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 12 2013
    - CTEST_CMAKE_GENERATOR: Visual Studio 12 2013 Win64
    - CTEST_CMAKE_GENERATOR: Visual Studio 12 2013 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012 Win64
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 10 2010
    - CTEST_CMAKE_GENERATOR: Visual Studio 10 2010 Win64

matrix:
  allow_failures:
    - CTEST_CMAKE_GENERATOR: Visual Studio 14 2015 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 12 2013 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012 Win64
    - CTEST_CMAKE_GENERATOR: Visual Studio 11 2012 ARM
    - CTEST_CMAKE_GENERATOR: Visual Studio 10 2010
    - CTEST_CMAKE_GENERATOR: Visual Studio 10 2010 Win64

before_build:
  - git submodule update --init --recursive --quiet
  - appveyor DownloadFile https://github.com/h-s-c/libKD/releases/download/v0.0/OpenCppCoverage.7z
  - 7z x OpenCppCoverage.7z > nul
  - set PATH=%cd%\OpenCppCoverage;%PATH%
  - appveyor DownloadFile https://cmake.org/files/v3.5/cmake-3.5.0-rc2-win32-x86.zip
  - 7z x cmake-3.5.0-rc2-win32-x86.zip > nul
  - set PATH=%cd%\cmake-3.5.0-rc2-win32-x86\bin;%PATH%

build_script:
  - ctest -VV --output-on-failure -S CTestRun.cmake